<div ng-controller="ShowListCtrl">
    <form class="custom section-breath" ng-submit="save(show)">
        <div class="row">
            <div class="twelve columns">
                <label for="name">Show name:</label>
                <input ng-model="show.name" id="name" type="text" name="name" placeholder="Name"/>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <label for="details">Details:</label>
                <textarea ng-model="show.details" id="details" name="details"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <input type="submit" class="button small radius" name="addShow" value="Add"/>
            </div>
        </div>
    </form>
    <!--
        <div class="row">
            <div class="three columns">
                <label for="season">Season:</label><input id="season" ng-model="show.season" type="text" name="season"/>
            </div>
            <div class="three columns">
                <label for="episodeQty"># of episodes:</label><input id="episodeQty" type="text" name="episodeQty"/>
            </div>
            <div class="three columns">
                <label for="dow">Day of week:</label>
                <select id="dow" style="display: none;">
                    <option value="sunday">Sunday</option>
                    <option value="monday">Monday</option>
                    <option value="tuesday">Tuesday</option>
                    <option value="wednesday">Wednesday</option>
                    <option value="thursday">Thursday</option>
                    <option value="friday">Friday</option>
                    <option value="saturday">Saturday</option>
                </select>
                <div class="custom dropdown">
                    <a href="#" class="current">Sunday</a>
                    <a href="#" class="selector"></a>
                    <ul>
                        <li>Sunday</li>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                    </ul>
                </div>
            </div>
            <div class="three columns">
                <label for="startDate">Season starts:</label>
                <input id="startDate" type="text" name="startDate" placeholder="mm/dd/yyyy"/>
            </div>
        </div>
    -->
    <div class="row">
        <div class="twelve columns">
           <ul class="show-list">
               <li class="show-list-item section-breath" ng-repeat="show in shows | orderBy:orderProp">
                    <h3><a href="#/shows/[[show._id]]">[[show.name]]</a></h3>
                    <p>[[show.details]]</p>
                    <div class="item-actions align-right">
                        <a class="icon-list" ng-model="show._id"></a>
                        <a class="icon-remove" ng-click="remove(show)"></a>
                    </div>
               </li>
           </ul>
       </div>
    </div>
