/* Artfully masterminded by ZURB  */

/* Blue: #2284A1  */
/* Blue Accent:  #217C7E */
/* Red Accent: #9A3334 */
/* Light background: #F3EFE0 */

/* icommon starts */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
.icon-link:before, .icon-cog:before, .icon-share:before, .icon-twitter:before, .icon-facebook:before, .icon-google-plus:before, .icon-mail:before, .icon-loop:before, .icon-checkmark:before, .icon-plus:before, .icon-minus:before, .icon-menu:before, .icon-search:before, .icon-filter:before {
*/
[class*="icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-link:before {
  content: "\6c";
}
.icon-cog:before {
  content: "\67";
}
.icon-share:before {
  content: "\77";
}
.icon-twitter:before {
  content: "\74";
}
.icon-facebook:before {
  content: "\66";
}
.icon-google-plus:before {
  content: "\70";
}
.icon-mail:before {
  content: "\65";
}
.icon-loop:before {
  content: "\72";
}
.icon-checkmark:before {
  content: "\6f";
}
.icon-plus:before {
  content: "\61";
}
.icon-minus:before {
  content: "\6d";
}
.icon-search:before {
  content: "\73";
}
.icon-filter:before {
  content: "\6b";
}
.icon-remove:before {
  content: "\21";
}
.icon-list:before {
  content: "\22";
}
/* icomoon ends */

.align-right {
  text-align: right;
}

.item-actions a {
  color: #217C7E;
}

.float-right {
  float: right;
}

.head-container {
  padding: 50px 0;
}

.head-container h1, .name a {
  font-family: 'Dorsa', sans-serif;
}

.nav-bar-container {
  background: none repeat scroll 0 0 #4D4D4D;
  height: 40px;
  margin-bottom: 20px;
  padding: 0;
}

ul.nav-bar > li:first-child{
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
}

ul.nav-bar > li.name > a {
  font-size: 40px;
}

.nav-bar > li.active {
    background: none repeat scroll 0 0 #333333;
    border-color: #333333 #333333 #2284A1;
    border-width: 0 0 2px;
}

.no-margin-top {
    margin-top: 0 !important;
}

ul.show-list {
  list-style: none outside none;
}

.reveal-modal {
  padding: 0;
  border: solid 1px #2284A1;
  border-radius: 4px;
}

.reveal-modal h4 {
  padding: 5px 30px;
  background-color: #9A3334;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
}

.reveal-modal p, .reveal-modal input{
  padding: 5px 30px;
}

.section-breath {
  margin-bottom: 32px;
}

.show-list-item h3 {
  background-color: #9A3334;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 -10px 10px;
  padding: 5px 10px;
}

.show-list-item h3 a {
  color: #fff;
}

.show-list-item {
  background-color: #F3EFE0;
  border: 1px solid #2284A1;
  border-radius: 4px;
  padding: 0 10px;
}

.sign-in-form {
    padding: 14px 0;
}

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


