<div ng-app="tooMuchTv">
    <ul class="nav-bar no-margin-top">
        <li class="name">
            <a href="/app">Too much TV</a>
        </li>
        <li class="active">
            <a href="#/unwatched">Un-watched</a>
        </li>
        <li>
            <a href="#/shows">Shows</a>
        </li>
        <li>
            <a href="#/upcoming">Upcoming</a>
        </li>
        <li>
            <a href="/logout">Sign out</a>
        </li>
    </ul>
    <div class="row">
        <div class="eight columns centered" ng-view>
        </div>
    </div>
</div>
{{#extend "scripts"}}
{{{js "app.js"}}}
{{/extend}}
