<div class="row head-container">
    <header class="four columns centered">
        <h1>Too much TV</h1>
    </header>
</div>

<div class="row display">
    <div class="four columns centered">
        <form method="post">
            <fieldset class="sign-in-form">
                <div class="twelve columns">
                    <input type="email" name="username" placeholder="name@mail.com">
                </div>
                <div class="twelve columns">
                    <input type="password" name="password" placeholder="password">
                </div>
                <div class="twelve columns">
                    <input type="submit" value="Login" class="button medium radius">
                </div>
            </fieldset>
        </form>
    </div>
</div>
{{#extend "scripts"}}

{{/extend}}